<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShareInfo</display-name>
  <welcome-file-list>
    <welcome-file>/html/loginForm.html</welcome-file>
  </welcome-file-list>
  <session-config>
	<session-timeout>5</session-timeout>
  </session-config>
  <listener>
    <listener-class>shareinfo.MySessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>shareinfo.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/servlet/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>shareinfo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>shareinfo.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
</web-app>